:root {

	/* Background color */
	--background-dark: #232533;
	--background-light: #f6f6f6;
	--background-green: #49D0B0;
	--background-lightblue: #59E3F8;
	--background-orange: #FFA980;
	--background-purple: #D99EF8;

	/* Font color */
	--color-base: #232325;
	--color-white: #f6f6f6;

	/* Fonts Family Quicksand */
	--font-bold: 'Quicksand-Bold';
	--font-light: 'Quicksand-Light';
	--font-medium: 'Quicksand-Medium';
	--font-regular: 'Quicksand-Regular';
	--font-semi-bold: 'Quicksand-SemiBold';

	/* Font Size */
	--font-size-menor: 0.7rem
	--font-size-1: 1rem;
	--font-size-2: 1.25rem;
	--font-size-3: 1.50rem;
	--font-size-4: 1.75rem;
	--font-size-5: 2rem;
	--font-size-6: 2.15rem;
	--font-size-7: 2.25rem;
	--font-size-8: 2.50rem;
	--font-size-9: 2.75rem;
	--font-size-10: 3rem;



}

body {
	margin: 0;
	font-size: 12px;
}

html, body, #root {
	height: 100%;
}